.DS_Store

*.pyc
/training/alex-walk-like-humanoid/rl_models/tensorboard
/training/alex-walk-like-humanoid/rl_models/tensorboard
training/alex-walk-like-humanoid/rl_models/tensorboard/PPO_1/events.out.tfevents.1771856928.Pora.local.30708.0
/training/alex-walk-like-humanoid/rl_models/tensorboard
/training/humanoid-walk/rl_models/tensorboard
/training/alex-stand/rl_models/checkpoints
/training/alex-stand/rl_models/tensorboard
/training/alex-walk-like-humanoid/rl_models/tensorboard
/training/alex-walk/rl_models/checkpoints
/training/alex-walk/rl_models/tensorboard
